<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codebreaker start page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>

  <body>
    <div id="container">
      <h1>CODEBREAKER GAME</h1>
      <h2>Welcome to play the CodeBreaker Game!!!</h2>

      <a href=<%= "/show_help?help_string=#{@help_string}" %>><%= @help_string %> help</a>

      <% if @help_string == 'Hide' %>
	      <p>Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker.</p>
	      <p>
	        The code-maker, which will be played by the application we’re going to write, creates a secret code of four numbers between 1 and 6.<br>
	        The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers.
	      </p>
	      <p>
	        The code-maker then marks the guess with up to four + and - signs.<br>
	        A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.<br>
	        A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.
	      </p>
      <% end %>

      <form id="new_game" method="post" action="/new_game">
        <p>
          <label><b>Please enter your name </b><input class="text_input" name="name" type="text"></label>
        </p>
        <b>Please select the game level:</b><br>
        <div>
          <input id="level1" type="radio" name="level" value="beginner" checked> <label class="button" for="level1">beginner</label>
          <input id="level2" type="radio" name="level" value="master"><label class="button" for="level2">master</label>
          <input id="level3" type="radio" name="level" value="expert"><label class="button" for="level3">expert</label>
        </div>
        <input class="button" type="submit" value="Start">
      </form>
    </div>
  </body>
</html>

